
#content-cat {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.cell {
	border: 5px solid red;
}

.container {
	width: 100%;
	display: inline-flex;
	flex-wrap: nowrap;
}

nav {
	width: 20%;
}

main {
	width: 80%;
	font-size: 24px;
}

li:hover, img:hover , button:hover{
	cursor: pointer;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

.inputField {
	width: 300px;
	text-align: right;
    padding: 10px;
}

#inputName, #inputimgURL, #inputNrOfClicks {
	margin-left: 5px;
}

#buttonAdmin, #buttonCancel, #buttonSave {
	margin: 5px;
}